In [1]:
import os

In [2]:
%pwd

'c:\\Users\\Lenovo\\Desktop\\stb_pfe_mlflow\\research'

In [3]:
os.chdir("../")
%pwd

'c:\\Users\\Lenovo\\Desktop\\stb_pfe_mlflow'

In [4]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [5]:
df= pd.read_csv("artifacts/data_ingestion/data.csv")
df.head()

,tiers_key,ca,TOTMVTC,TOTMVTD,TOTMVTCnet,TOTMVTDnet,ENG,MontImp,encours,Encours_Moyen_Debiteur,...,Code_Classe,Var Signalitiques.Code_Profession,Var Signalitiques.Profession,Var Signalitiques.Code_Activite_Economique,Var Signalitiques.Activite_Economique,Var Signalitiques.Code_secteur_activite,Var Signalitiques.Secteur_Activite,Var Signalitiques.Ville,Var Signalitiques.Code_Postal,Var Signalitiques.Date_Ouverture
0,174,NaN,0.000,-274.956,0.000,-261.171,NaN,NaN,NaN,1420.500876,...,1.0,NaN,NaN,HAB99,TRANSPORTS FERROVIAIRES DE FRET,HA,TRANSPORTS ET ENTREPOSAGE,BAB BHAR,1000.0,1958-04-05
1,370,NaN,0.000,-483.776,0.000,-450.691,NaN,NaN,NaN,2311.483331,...,1.0,NaN,NaN,GCG99,AUTRES COMMERCES DE DETAIL DE BIENS NEUFS EN M...,NaN,NaN,TUNIS,1002.0,1992-04-14
2,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,DAA04,COMMERCE D'ELECTRICITE,DA,"PRODUCTION ET DISTRIBUTION D'ELECTRICITE, DE G...",TUNIS BELVEDERE,1002.0,2000-01-01
3,578,NaN,0.000,-362.465,0.000,-341.152,NaN,NaN,NaN,1500.732704,...,NaN,NaN,NaN,CWA01,FABRICATION DE MEUBLES DE BUREAU ET DE MAGASIN,CW,INDUSTRIE MANUFACTURIERE,TUNIS BELVEDERE,1002.0,1992-05-07
4,633,3171.408,3224.323,-7610.750,3224.323,-7610.750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,GBG05,COMMERCE DE GROS DE QUINCAILLERIE ET FOURNITUR...,GB,COMMERCE; REPARATION D'AUTOMOBILES ET DE MOTOC...,REPUBLIQUE,1001.0,1992-02-20

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12946 entries, 0 to 12945
Data columns (total 30 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   tiers_key                                   12946 non-null  int64
 1   ca                                          6396 non-null   float64
 2   TOTMVTC                                     10205 non-null  float64
 3   TOTMVTD                                     10205 non-null  float64
 4   TOTMVTCnet                                  10045 non-null  float64
 5   TOTMVTDnet                                  10045 non-null  float64
 6   ENG                                         4146 non-null   object
 7   MontImp                                     4146 non-null   float64
 8   encours                                     4146 non-null   object
 9   Encours_Moyen_Debiteur                      10076 non-null  float64
 10  Encours_Moyen_crediteur                     10595 non-null  float64
 11  INCIDENTCHQ                                 863 non-null    float64
 12  INCIDENTCHQ_R                               581 non-null    float64
 13  INCIDENTCHQ_N_R                             577 non-null    float64
 14  Interdit                                    2020 non-null   object
 15  InterditAct                                 2059 non-null   object
 16  NBIMP                                       1290 non-null   float64
 17  Interet_Non_ECHU                            2413 non-null   float64
 18  Encaiss_Recu                                2535 non-null   float64
 19  NBECHEANCE                                  4276 non-null   float64
 20  Code_Classe                                 3671 non-null   float64
 21  Var Signalitiques.Code_Profession           5362 non-null   object
 22  Var Signalitiques.Profession                5362 non-null   object
 23  Var Signalitiques.Code_Activite_Economique  8849 non-null   object
 24  Var Signalitiques.Activite_Economique       8849 non-null   object
 25  Var Signalitiques.Code_secteur_activite     6554 non-null   object
 26  Var Signalitiques.Secteur_Activite          6521 non-null   object
 27  Var Signalitiques.Ville                     10900 non-null  object
 28  Var Signalitiques.Code_Postal               11083 non-null  float64
 29  Var Signalitiques.Date_Ouverture            12864 non-null  object
dtypes: float64(17), int64(1), object(12)
memory usage: 3.0+ MB
None

In [8]:

df.columns

Index(['tiers_key', 'ca', 'TOTMVTC', 'TOTMVTD', 'TOTMVTCnet', 'TOTMVTDnet',
       'ENG', 'MontImp', 'encours', 'Encours_Moyen_Debiteur',
       'Encours_Moyen_crediteur', 'INCIDENTCHQ', 'INCIDENTCHQ_R',
       'INCIDENTCHQ_N_R', 'Interdit', 'InterditAct', 'NBIMP',
       'Interet_Non_ECHU', 'Encaiss_Recu', 'NBECHEANCE', 'Code_Classe',
       'Var Signalitiques.Code_Profession', 'Var Signalitiques.Profession',
       'Var Signalitiques.Code_Activite_Economique',
       'Var Signalitiques.Activite_Economique',
       'Var Signalitiques.Code_secteur_activite',
       'Var Signalitiques.Secteur_Activite', 'Var Signalitiques.Ville',
       'Var Signalitiques.Code_Postal', 'Var Signalitiques.Date_Ouverture'],
      dtype='object')